doctype html
html
  head
    title Your basic web app structure
  body
    h1
      | Comment with id:
      = comment.id
    p
      | Read this great comment with the following text:
      = comment.text
    a(href="/") Back