doctype html
html
  head
    title Your basic web app structure
  body
    h1 Welcome to your basic web app structure
    p
      | Checkout the files to see how it is organized.
    p
      | Here is an example url
    a(href="/comments/10") Comment with id 10